<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Cars" style="color:black;text-decoration:none;font-weight:bold">Cars</a></li>
    <li class="breadcrumb-item "><a href="/Cars" style="color:black;text-decoration:none;font-weight:bold">List Cars</a></li>
    <li class="breadcrumb-item "><a href="#" style="color:black;text-decoration:none">EditCar</a></li>
  </ol>
</nav>

<div class="d-flex flex-row justify-content-between align-items-center">
  <h1 class="p-0 m-0">Edit Car</h1>
</div>


<form action="/api/v1/cars/<%=data.id%>?_method=PUT" method="POST" id="form" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row align-items-center mt-3">
        <label for="car_name" class="col-sm-4 col-form-label"
          >Nama <span>*</span></label
        >
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="car_name"
            name="car_name"
            placeholder="Motor Apik !"
            value="<%=data.car_name%> "
            required
          />
        </div>
      </div>
      <div class="form-group row align-items-center mt-3">
        <label for="car_price" class="col-sm-4 col-form-label"
          >Sewa Per Hari <span>*</span></label
        >
        <div class="col-sm-8">
          <input
            type="number"
            class="form-control"
            id="car_price"
            name="car_price"
            placeholder="Rp 0,-"
            value="<%=data.car_price%> "
            required
          />
        </div>
      </div>
      <div class="form-group row align-items-center mt-3">
        <label for="car_type" class="col-sm-4 col-form-label"
          >Tipe <span>*</span></label
        >
        <div class="col-sm-8">
          <select class="form-select form-control" name="car_type" id="car_type"  value="<%=data.car_type%>">
            <option value="Sport">Sport</option>
            <option value="Family">Family</option>
            <option value="Classic">Classic</option>
          </select>
        </div>
      </div>
      <div class="form-group row align-items-center mt-3">
        <label for="car_size" class="col-sm-4 col-form-label"
          >Ukuran <span>*</span></label
        >
        <div class="col-sm-8">
          <select class="form-select form-control" name="car_size" id="car_size"  value="<%=data.car_size%> ">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select>
        </div>
      </div>
      <div class="form-group row mt-3 ">
        <label for="car_photo" class="col-sm-4 col-form-label"
          >Foto <span>*</span></label>
        <div class="col-sm-8">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile04"
              name="car_photo"
              accept="image/*"
              required
            />

            <small>File size max. 2MB</small>
          </div>
            
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-action" style="margin-top:40vh">
    <a href="/cars" target="#" class="btn btn-outline-primary me-3">Cancel</a>
    <input href="/cars" type="submit"  class="btn btn-primary" id="btn-submit" value="Save"/>
</div>
</div>
</form>

